<div id="newsfeed">
    <h1>Groovyroom</h1>
    <p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>)</p>

    <div>
        <h1>About Me</h1>

        <h2>Name:</h2> {{ profile.name.first }}
    </div>
</div>